html, body {
    font-family: 'Poppins',sans-serif;
    padding: 0;
    margin: 0;
    color: #567257;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
}

.app-container {
    padding: 0 5rem;
}


.header {
    margin-top: 2rem;
}

.header img{
    width: 2rem;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.register-container .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    box-shadow: 2px 3px 9px -2px rgba(0,0,0,0.75);
    border-radius: 10px;
    align-items: center;
    
}

.form-title {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register-form input {
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid #ACAB9E;
    font-size: 1rem;
}

/* COMMON */
.button {
    background-color: #567257;
    color: white;
    margin-top: 0.5rem;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    min-width: 100px;
}

.long-button {
    background-color: #567257;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 10rem;
    font-weight: bold;
}

.text-button {
    background: none;
    border: none;
    color: #896A58;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.main-text {
    color: #567257;
}
.sub-text{
    color: #ACAB9E;
}

.title-text {
    color: #896A58;

}

.word-text {
    color: black;
}


.error {
    color: red;
}

.link {
    color: #567257;
    cursor: pointer;
}
/* Layout */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Hovering */
.link:hover {
    color: #3B4E3C;
    text-decoration: underline;
}

.role-btn:hover, .role-btn.selected, .nav-text:hover,
.category-card:hover, .nav-btn:hover {
    background-color: #3B4E3C;
    color: white;
}

.side-link:hover, .logout-btn:hover {
    background-color: white;
    color: #567257;
}

.button:hover {
    background-color: #3B4E3C;
}

.hamburger:hover {
    color: #3B4E3C;
}

.text-button:hover, .close-btn:hover, .voucher-card:hover, 
.search-bar:hover, .cart-row:hover, .summary-expand-btn:hover,
.product-card:hover, .search-input:hover {
    background-color: #f5f5f5;
}

.error-overlay, .modal-overlay, .voucher-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.success-overlay{
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.voucher-overlay {
    z-index: 200;
}
.close-btn {
    font-size: 2rem;
    color: #896A58;
    border: none;
    background: none;
}


.success-content {
    background-color: #3B4E3C;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
}

.success-content .fa-check {
    padding: 0;
}

.error-content, .modal-content {
  background: white;
  padding: 3rem 4rem;
  border-radius: 8px;
  text-align: center;
}

.voucher-modal {
    background: white;
    padding: 3rem 4rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: auto;   
    overflow-x: hidden;
    max-height: 70vh;
}

.voucher-list {
    display: flex;
    flex-direction: column;
}

.voucher-card {
    border: 1px solid #567257;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 40rem;
}



.voucher-card h4, .voucher-card p{
    margin: 0;
}

.voucher-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}
.voucher-name, .voucher-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.voucher-name {
    background-color: #567257;
    color: white;
}
.voucher-name h4{
    text-align: center;
    padding: 2rem;
}

.voucher-details {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem 1rem;
    justify-content: center;
}

.voucher-expired {
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
}
.voucher-button, .voucher-qty {
    padding: 1rem;
}
.error-content p {
    margin: 2rem 0rem;
}

.voucher-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #896A58;
}

.input {
    border: none!important;
    outline: none!important;
}

.input-wrapper {
    border: 1px solid #b1b09e;
    padding: 0.1rem 1rem;
    border-radius: 6px;
}

.role-label {
    margin-right: 1rem;
}

.role-input {
    margin: 0.5rem 1rem;
}

.fa-briefcase {
    margin: 0rem 1rem;
}

.fa-eye-slash {
    color: #ACAB9E;
    cursor: pointer;
}

.fa-eye {
    cursor: pointer;
}

.register-btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.disclaimer {
    text-align: center;
    margin-bottom: 1rem;
    color: #ACAB9E;
    cursor: pointer;
}


.role-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.role-btn {
    background: none;
    color: #567257;
    border: 1px solid #567257;
    border-radius: 4px;
    height: 9rem;
    width: 9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.fa-users, .fa-user-tie, .fa-triangle-exclamation {
    transform: scale(2);
}

.password-requirements {
    width: 16rem;
}

.site-header{
    color: white;
    padding: 1rem;
    text-align: center;
}

.header-container, .footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo-img {
    transform: scale(0.7);
    display: block;
    object-fit: contain;
}


.site-header {
    color: #567257;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 1rem;
    position: relative;
}

.title-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #567257;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}

.nav-btn {
    text-decoration: none;
    color: #567257;
    padding: 2rem 1rem;
}


.hamburger {
    background: white;
    column-rule: #567257;
    border: none;
    font-size: 1.5rem;
    display: none;
    padding-right: 2rem;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;
    background-color: #567257;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    z-index: 999;
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to   { transform: translateX(0); }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100vh;
    background-color: #567257;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    z-index: 999;
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from { transform: translateX(100%); }
    to   { transform: translateX(0); }
}

.logout-btn {
    border: none;
    background: none;
}
.side-link, .logout-btn {
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    padding: 0.5rem 2rem;
    text-align: left;
}


.landing-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.landing-text-container h3 {
    font-size: 4rem;
    color: #896A58;
}

.landing-text-container span {
    color: #567257;
}

.landing-text-container p {
    font-size: 2rem;
    text-align: right;
}
.landing-text-container .hero-text {
    color: #896A58;
}

.ad1 {
    height: 24rem;
    width: 44rem;
}
.ad2, .ad3 {
    height: 11.5rem;
    width: 22rem;
}

.ad-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ad-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ad-container {
    display: flex;
    padding: 4rem 0rem;
    align-items: center;
    justify-content: center;
}

.search-bar {
    color: #ACAB9E;
    border: 1px solid #ACAB9E;
    padding: 1rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.search-input {
    border: none;
    outline: none;
}


.search-bar .left-wrapper {
    display: flex;
    gap: 0.5rem;
}


.category-container, .new-arrivals-container, .top-sell-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.category-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.category-list a {
    text-decoration: none;
    color: #567257;
}
.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    width: 5rem;
    height: 5rem;
}

.fa-kitchen-set, .fa-shirt, .fa-paintbrush,
.fa-prescription-bottle-medical,
.fa-utensils, .fa-computer, .fa-seedling, .fa-bone{
    font-size: large;
}


.category-name {
    text-align: center;

}

.title-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.product-details {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}
.product-card {
    box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    border-radius:8px;
    flex: 0 0 14rem;
}


.img-container {
  width: 100%;
  aspect-ratio: 1 / 1;     
  overflow: hidden;  
  border-radius: 8px 8px 0px 0px;    
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;   
}

.product-card p, .product-card h3 {
    margin: 0;
}

.card-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    background-color: #56725754;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-overlay:hover {
    opacity: 1;
}

.price-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
    margin-top: 0.5rem;
    
}

#product-ori-price {
    font-size: 1.1rem;
    color: #ACAB9E;
    text-decoration-line: line-through;
}

.product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-tags {
    margin-top: 0.5rem;
}
#hashtags {
    border: 1px solid #567257;
    display: inline-block;
    padding: 0.2rem 0.2rem;
    border-radius: 4px;
    margin: 0.2rem;
}
.about-container {
    display: flex;
    flex-direction: column;
    font-weight: normal;
}

.about-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-row h2 {
    color: #896A58;
    font-family: 'Times New Roman', Times, serif;
    width: 40%;
    font-size: 2rem;
    padding-left: 8rem;
}

.gif1 {
    border: none;
    padding-top: 1rem;
    padding-right: 3rem;
    position: absolute;
    z-index: -1;
    right: 0;
    transform: scale(3);
}

.gif2 {
    border: none;
    position: absolute;
    z-index: -1;
    left: 0;
    padding: 10rem 1rem;
    transform: scale(2);
}

.about-container p {
    text-align: left;
    display: flex;
    flex-grow: 1;
    width: 40%;
    margin-left: 25%;
    line-height: 1.5rem;
}

.features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 8rem;
    gap: 2rem;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    width: 8rem;
    height: 8rem;
    gap: 0.5rem;
    border-radius: 10px;
    box-shadow: 2px 3px 9px -2px rgba(0,0,0,0.75);
}

.feature-card:hover {
    transform: scale(1.2);
}

.feature-card h4, .feature-card p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.more-about-container {
    padding: 1rem 0rem;
    text-align: right;
}

.collab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.collab-container p {
    width: 60%;
   
}

.membership-container, .ambassador-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.membership-container {
    gap: 6rem;
}

.ambassador-container {
    gap: 4rem;
    padding: 0rem 2rem;
}

.member-card,.ambassador-card {
    background-color: #D9D8D5;
    border: 1px solid #567257;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.member-card {
    flex-direction: row;
    gap: 2.5rem;
    padding: 0.4rem 1.5rem;
}

.member-card:hover, .ambassador-card:hover {
    transform: scale(1.1);

} 

.ambassador-card {
    flex-direction: column;
    gap: 0rem;
    padding: 0.8rem 4rem;
    width: 30%;
}

.ambassador-card h3 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.ambassador-card p {
    line-height: 1.5rem;
}

.left-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right-card {
    display: flex;
    flex-direction: column;
}

.number-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: baseline;
}

.fa-circle-check {
    font-size: 1rem;
}

.ambassador-desc {
    text-align: right;
}

.contact-container {
    display: flex;
    flex-direction: row;
    background-color: #567257;
    color: white;
    margin-top: 3rem;
    padding: 2rem 5rem;
    gap: 10rem;
}

.right-contact form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.right-contact input {
    padding: 0.5rem;
}

.messages {
    height: 8rem;
}

.newsletter-container {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 2rem 4rem;
    justify-content: space-between;
}

.left-news {
    padding: 4rem 0rem;
    display: flex;
    flex-direction: column;
}

.left-news input {
    padding: 0.5rem 1rem;
    width: 100%;
}

.right-news p, .right-news h1 {
    text-align: right;
}

.site-footer {
    background-color: #3B4E3C;
    color: white;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
}
.footer-content {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.footer-logo {
    display: flex;
    flex-direction: row;
}

.footer-text {
    margin: 0;
}
.license {
    text-align: right;
    font-size: 0.6rem;
}

.fa-brands {
    font-size: 2rem;
}

.profile-btn, .cart-btn {
    background: none;
    border: none;
    padding: 2rem 1.5rem;
}
.profile-btn:hover, .cart-btn:hover {
    background-color: #3B4E3C;
    color: white;
}

.cart-count-badge {
    position: absolute;
    top: 46px;
    right: 96px;
    background-color: #3B4E3C;
    color: white;
    border-radius: 50%;
    padding: 3px 5px;
    font-size: 0.5rem;
}

.section-container {
    display: flex;
    flex-direction: row;
    padding: 3rem 0rem;
    gap: 2rem;
}

.section-menu {
    display: flex;
    flex-direction: column;

}

.section-menu button {
    background: none;
    border: none;
    padding: 1rem 2rem;
    text-align: left;
}

.section-menu button:hover {
    background-color: #567257;
    color: white;
}

.section-container button.active {
    background-color: #567257;
    color: white;
}

.section-title {
    margin: 0;
    padding-bottom: 1rem;
}

.section-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem;
    gap: 1rem;
    width: 100%;
    box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
}

.user-profile-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.labels-col, .inputs-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-profile-form label {
    text-align: right;
    margin-right: 1rem;
    color: #ACAB9E;
    padding: 1rem 0rem;
}

.edit-mode input {
    background: none;
    border: 1px solid #567257;
    border-radius: 4px;
    padding: 1rem 1rem;
    width: 20rem;
}

.view-mode label {
    padding: 1.1rem 1rem;
}
.gender-group {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.edit-mode .gender-group input{
    width: 3rem;
}
.view-mode input {
    color: black;
    background: none;
    border: none;
    padding: 1.2rem 1rem;
    cursor: not-allowed;
}

.view-mode select option {
    background-color: red;
}
.form-btn-group {
    display: flex;
    gap: 1rem;
}
#edit-btn, #save-btn {
    width: 6rem;
}

input[type="email"]:disabled, input[type="password"]:disabled,
.edit-mode input[type="email"], .edit-mode input[type="password"]
  {
    color: #999;
    cursor: not-allowed;
    border: none;
}

.address-field {
    padding: 1rem;
    width:10rem;
}

.view-mode .address-field {
    border: none;
    color: black;
}
.phone-row {
    display: flex;
    flex-direction: row;
}

.phone-code-field {
    width: 4rem;
}

.edit-mode .phone-code-field {
    border-radius: 4px 0px 0px 4px;
} 
.edit-mode .contact-input {
    border-radius: 0px 4px 4px 0px;
}

.shop-container {
    display: flex;
    flex-direction: row;
    margin: 2rem 2rem;
    gap: 5rem;
    justify-content: center;
}

.shop-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.filter-form {
    display: flex;
    flex-direction: column;
    color: #6E584A;
    gap: 0.5rem;
}

.filter-form h2 {
    margin: 0;
}

.filter-title {
    font-weight: bold;
    margin-top: 1rem;
}
.filter-input {
    width: 7rem;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    border: 1px solid #6E584A;
}

.tags-dropdown {
    color: #6E584A;
    padding: 0.4rem 0.6rem;
    width: 9rem;
}

.checkbox-label {
    display: flex;
    justify-content: baseline;
    gap:1rem;
    margin: 0;
    align-items: center;
}
.others-checkbox, .checkbox-label input {
    accent-color: #6E584A;
    margin: 0;
    width: 1rem;
    height: 1rem;
}

#apply-btn {
    margin-top: 1rem;
}

.product-result {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2rem;
}

.search-result-container {
    align-self: flex-start;
}
.search-result-title {
    font-weight: bold;
    align-self: flex-start;
    color: #567257;
    font-size: 1.5rem;
}

.search-result-title span:hover {
    text-decoration: underline;
    color: #3B4E3C;
}

.search-result-total {
    margin: 0;
    color: #ACAB9E;
    align-self: flex-start;
}
.back-btn {
    background: none;
    border: none;
    font-weight: bold;
    color: #896A58;
    font-size: 1rem;
}

.back-btn:hover {
    text-decoration: underline;
}

.details-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 0rem;
    
}

.details-container p {
    margin: 0;
}

.left-details, .right-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.left-details {
    flex-shrink: 0
}

.right-details {
    padding-top: 6rem;
}
.seller-container, .ship-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
}

.fa-shop, .fa-truck {
    margin: 0;
    font-size: 1rem;
}

.p-name, .p-category {
    margin: 0;
}

.p-category {
    color: #896A58;
}

.p-name {
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    margin-top: 0.2rem;
}

#p-price, #p-ori-price {
    margin: 0;
    font-size: 1.5rem;
}

#i-price, #i-ori-price {
    margin: 0;
    font-size: 1rem;
}

#i-price {
    font-weight: normal;
}
#p-ori-price, #i-ori-price {
    color: #ACAB9E;
    text-decoration: line-through;
}

#p-tag {
    margin: 0;
}

.variation-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem;
}



.variation-btn {
    background: none;
    border: 1px solid #567257;
    color: #567257;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.variation-btn.selected {
    background-color: #3B4E3C;
    color: white;
    border: none;
    opacity: 1;
}

.variation-btn.out-of-stock:not(.selected) {
    color: white;
    border: none;
    background-color: #567257;
    opacity: 0.5;
    cursor: not-allowed;
}

.variation-title {
    margin: 0;
    padding-top: 0.5rem;
    margin: 0.5rem;
}
.p-img-container {      
  background: #f5f5f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;         
  aspect-ratio: 1 / 1;
  flex-shrink: 0;      
  overflow: hidden;
}

.p-img-contianer img {
  width: 10vw;
  height: 10vh;
  object-fit: cover;
  display: block;
}

.details-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 2rem;
    align-items: baseline;
}

.left-selector {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
}
.qty-btn {
    font-size: 1.5rem;
    background: none;
    color: #567257;
    border: 1px solid #567257;
    width: 2rem;
    height: 2rem;
} 

.item-qty-selector {
    width: 10rem;
}
.qty-btn:hover {
    background-color: #567257;
    color: white;
}

.qty-value {
    padding: 0rem 1rem;
    font-size: 1rem;
}

.add-cart-btn, .checkout-btn {
    border: none;
    background-color: #896A58;
    color: white;
    border-radius: 4px;
    padding: 1rem 1.2rem;
    font-weight: bold;
}

.add-cart-btn:hover, .checkout-btn:hover {
    background-color: #6E584A;
}

.checkout-btn {
    margin-left: auto;
}

.p-info-tabs {
    width: 100%;
    display: flex;
}

.tab {
    flex: 1;
    font-weight: bold;
    background: none;
    color: #896A58;
    border: none;
    padding: 0.5rem 2rem;
    font-size: medium;
}

.tab.active {
    color: #567257;
    box-shadow: inset 0 -1px 0 0 #567257;
}

.review-header {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: baseline;
    font-size: 1.5rem;
    margin: 1rem 0rem;
}

.review-rate {
    margin: 0;
    font-weight: bold;
}

.review-filter {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 0.5rem;
}

.review-btn, .review-dropdown, .variation-dropdown {
    color: #567257;
    padding: 0.4rem 0.6rem;
    background: none;
    border-radius: 4px;
}

.variation-dropdown {
    width: 8rem;
}

.review-btn {
    border: 1px solid #567257;
}

.review-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ACAB9E;
    border-radius: 4px;
}

.comment-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.comment-container h5, .comment-container p {
    margin: 0;
}

.comment-container h5, .comment-time, .comment-text {
    color: black;
}


.star-group1, .star-group2 {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.star-group2 {
    color: #ACAB9E;
}

.review-img-container img {
    width: 50%;
    height: 100%;
}

.out-stock-hint {
    color: red;
}

.cart-container {
    padding: 2rem 0rem;
}
.cart-page-title {
    color: #896A58;
    margin: 0;
    margin-bottom: 2rem;
}

.cart-title-wrapper, .item-list-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: baseline;
    margin: 1rem 0rem;
}

.cart-title-wrapper {
    justify-content: space-between;
}

.shop-group {
    width: 100%;
}
.item-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 80vh;
    overflow-y: auto;   
    overflow-x: hidden;
    width: 100%;
    align-items: center;
}

.selector-wrapper {
    display: flex;
    gap: 1rem;
    color: #896A58;
    align-items: baseline;
    justify-items: baseline;
}


.cart-header {
    display: grid;
    grid-template-columns: 
        2fr      /* checkbox */
        0.8fr       /* variation */
        0.8fr         /* unit price */
        0.5fr         /* quantity */
        1fr;        /* total */
    align-items: center;
}

.cart-row {
    width: 100%;
    display: grid;
    grid-template-columns: 
        1fr      /* checkbox */
        1fr
        0.8fr       /* variation */
        0.8fr         /* unit price */
        0.5fr         /* quantity */
        0.8fr        /* total */
        0.2fr;        /* delete */
    align-items: center;
    margin-bottom: 1rem;
}


.fa-trash, .fa-clock {
    margin: 0;
}

.fa-trash:hover {
    color: #3B4E3C;
}
.c-title {
    margin: 0;
    color: #ACAB9E;
}


.item-img-container {      
  background: #f5f5f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;  
  height: 50%;       
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  flex-grow: 0;      
  overflow: hidden;
}

.item-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

.item-label {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    gap: 1rem;
    background-color: blueviolet;
}

.item-name, .c-item-name {
    color: black;
    width: 10rem;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
    
}

.item-price {
    font-size: 1rem;
    width: 100%;
}

.cart-summary-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 2px 2px 6px -2px rgba(0,0,0,0.75);
    z-index: 99;
    transition: 0.3s ease-in-out;
    margin: 1rem 4rem;
}

.summary-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4rem 0rem;
}

.summary-row h2 {
    color: #896A58;
    margin: 0;
}

.total-price-summary {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.total-price-summary p{
    margin: 0;
}

.summary-expand-btn {
    margin-left: auto;
    background: none;
    color: #896A58;
    border: none;
}

.summary-row p, .total-item {
    margin: 0;
}

.summary-details {
    display: flex;
    flex-direction: column;  
}

.eco-desc {
    width: 60vw;
}

.price-details {
    color: #ACAB9E;
}

.voucher-row {
    color: #896A58;
}

.voucher-chosen {
    border: 1px solid #896A58;
    font-weight: 500;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.voucher-option {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.checkout-form {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 2rem 0rem;
    align-items: flex-start;
}

.checkout-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.shipping-details, .delivery-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 45vw;
}
.title-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #896A58;
    align-items: baseline;
    
}

.details-title {
    color: #896A58;
}

.details-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.options-wrapper, .button-wrapper {
    border: 1px solid #896A58;
    border-radius: 4px;
    text-align: center;
    background: none;
    color: #896A58;
}

.options-wrapper {
    width: 20%;
    padding: 0.5rem 1rem;
}

.options-wrapper.active {
    background-color: #6E584A;
    color: white;
}
.button-wrapper {
    padding: 0.8rem 2rem;
}

.details-col, .item-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.details-date {
    width: 20%;
    margin: 1rem 0;
}

.details-date input {
    padding: 0.5rem 1rem;
}

.shipping-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.shipping-input-field, .period-input {
    background: none;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    border: 1px solid #896A58;
}

.location-input {
    width: 50%;
}

.shipping-phone-code {
    padding: 0.8rem 1rem;
    border-radius: 4px 0px 0px 4px;
    width: 80px;
    border-color: #896A58;
}

.shipping-contact {
    border-radius: 0px 4px 4px 0px;
}


.payment-summary, .purchase-card {
    box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.75);
    padding: 1rem 2rem;
    display: flex;
    gap: 0.5rem;
}

.payment-summary {
    flex-direction: column;
}

.purchase-card {
    flex-direction: row;
}

.expected-arrival {
    background-color: #896a587d;
    color: #896A58;
    padding: 1rem 2rem;
    border-radius: 4px;
    max-width: 50%;
    font-weight: bold;
}

.checkout-img {
    height: 120px;
    width: 120px;
}

.item-details-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-weight: normal;
}

.item-qty-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.item-var {
    font-size: 0.8rem;
    background-color: #567257;
    border-radius: 4px;
    color: white;
    padding: 0.5rem;
    max-width: 40%;
}

.item-col {
    margin-left: 1rem;
}

.total-item {
    text-align: right;
}

.product-subscription {
    position: relative;
}

.unlock-overlay {
    position: absolute;
    background-color: #896a5875;
    bottom: 20%;   
    left: 5%;  
    background-color: rgba(137, 106, 88, 0.45); 
    z-index: 99;
    display: flex;          
    justify-content: center; 
    align-items: center;
    padding: 3rem 5rem; 
    flex-direction: column;
}

.confirm-btn {
    background-color: #6E584A;
}
.cancel-btn {
    background-color: #896a5893;
}

.overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-overlay .loader {
    background: none;
    color: white;
    padding: 2rem 3rem;
    border-radius: 8px;
    font-size: 1.5rem;
}

.success-overlay .success-box {
    background: #fff;
    padding: 2rem 3rem;
    border-radius: 8px;
    text-align: center;
}

.success-overlay .success-box button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.unlock-overlay p {
    text-align: center;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0;
}
.purchase-card {
    align-items: flex-start;
}
.order-status-list {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.order-status {
    text-decoration: none;
    border: 1px solid #567257;
    color: #567257;
    background: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.order-status p {
    margin: 0;
}

.order-status.active {
    color: white;
    background-color: #567257;
}

.purchase-details, .delivery-tracking {
    width: 50vw;
}

.tracking {
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.timeline {
    display: flex;
    flex-direction: column;
}

.delivery-tracking p, .delivery-tracking h3, .tracking p {
    margin: 0;
}

.delivery-tracking h3 {
    margin-top: 1.5rem;
}

.trackingNo {
    color: #ACAB9E;
    padding-bottom: 1.5rem;
}

.status-name, .reward-text {
    justify-self: flex-end;
}

.status-name-2 {
    display: none;
}
.track-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 3rem;
    justify-self: flex-end;
    align-self: flex-end;
}

.refund-btn {
    border: 1px solid #567257;
    color: #567257;
    background: none;
}

.refund-btn:hover {
    background-color: #567257;
    color: white;
    border: none;
}

.purchase-details {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
}

.join-btn {
    cursor: none;
}
/*Responsive design: MEDIUM OR TAB*/
@media (max-width: 1000px) {
    body {
        font-size: 0.8rem;
    }

    .button {
        padding: 0.8rem 1rem;
    }

    .nav-btn, .nav-container .fa-cart-shopping, .nav-container .fa-user, 
    .profile-btn, .cart-btn, .cart-count-badge {
        display: none
    }

    .hamburger {
        display: flex;
    }
    
    .landing-text-container {
        justify-content: space-between;
        gap: 1rem;
    }

    .landing-text-container h3 {
        font-size: 1.5rem;
    }

    .landing-text-container p {
        font-size: 1rem;
    }

    .ad1 {
    height: 14rem;
    width: 20rem;
    }
    .ad2, .ad3 {
        height: 6.5rem;
        width: 9rem;
    }

    .category-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-content: center;
    }

    .category-card {
        flex-direction: row;
        width: auto;
        gap: 2rem;
        padding: 0.1rem 1rem;
    }

    .about-row {
        justify-content: flex-start;
    }
    
    .about-row h2 {
        width: 50%;
        font-size: 1.2rem;
        padding-left: 1rem;
    }
    .gif1 {
        right: 0;
        transform: scale(1.5);
        padding: 0;
    }

    .gif2 {
        transform: scale(1);
        padding-left: 0;
        padding-top: 22rem;
    }

    .about-container p {
        width: 60%;
        padding-top: 3rem;
    }

    .features-container {
        flex-direction: column;
    }

    .feature-card {
        width: 70vw;
        padding: 0.5rem 1rem;
    }

    .feature-card p {
        width: 50vw;
    }

    .collab-container p {
        width: 90%;
    }

    .membership-container {
        flex-direction: column;
    }

    .ambassador-container {
        flex-direction: column-reverse;
        margin: 0;
    }

    .member-card {
        width: 100%;
    }
    .ambassador-card {
        width: 100%;
        height: 30%;
    }

    .number-list {
        text-align: left;
    }

    .contact-container {
        flex-direction: column;
        gap: 1rem;
    }

    .left-news {
        padding: 8rem 0rem;
    }

    .footer-content {
        gap: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }

    .product-card {
        flex: 0 0 10rem;
    }

    .price-container, .product-info {
        flex-direction: column;
        gap: 0;
    }

    .product-container {
        flex-direction: column;
        flex: wrap; 
    }

    .section-container {
        padding: 2rem 0rem;
    }
    .section-menu button {
        padding: 0.5rem 1rem;
    }
    .section-title {
        font-size: 1.2rem;
    }

    .section-container {
        flex-direction: column;
    }

    .section-page {
        width: 50rem;

    }
   
    .section-content{
        width: 45%;
        padding: 1rem 1rem;
    }

    .section-content input, .section-content .gender-group input {
        width: 70%;
    }
    
    .product-result {
        grid-template-columns: repeat(2, 1fr); 
    }

    .details-container {
        flex-direction: column;
        gap: 1rem;
    }

    .right-details {
        padding-top: 1rem;
    }

    .review-header {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .cart-header {
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
    }

    .cart-header .c-title {
        display: none;
    }

    .selector-wrapper {
        gap: 0.5rem;
        font-size: 0.95rem;
    }

    .cart-row {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1rem;
        border-radius: 8px;
        background: #fafafa;
    }

    .item-img-container {
        width: 80px;
        height: 80px;
    }

    .item-col {
        gap: 0.2rem;
    }
    .item-name {
        width: 100%;
        font-size: 1rem;
        text-align: center;
    }

    .item-price {
        font-size: 0.9rem;
    }
    
    .variation-dropdown {
        align-self: flex-start;    
    }

    .item-qty-selector {
        width: 8rem;
    }

    .fa-trash {
        margin-top: 1rem;
    }

    .voucher-card {
        grid-template-columns: 1fr;
        width: 10rem;
    }

   .voucher-expired {
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }

   .voucher-button {
        padding: 0;
        padding-bottom: 1rem;
   }

   .checkout-form, .product-subscription .details-row {
        flex-direction: column;
   }

   .shipping-details input, .shipping-details select, .options-wrapper {
        width: 100%;
        padding: 0.5rem;
   }

  .purchase-card {
    flex-direction: column;
  }

  .status-name {
    display: none;
  }

  .status-name-2 {
    align-self: flex-end;
    display: block;
  }
}

